<div class="container py-5 ">
    <div class="row g-5">
        <div class="col-lg-4">
            <h4>
                Filters
            </h4>
            <div class="col-12">
                <div class="row">
                    <span class="col-12">
                <strong>By Pages</strong>
            </span>
                    <br>
                    <div class="dropdown col-3">
                        <span>From</span>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Page
              <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="from-page" type="text" placeholder="Search..">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </div>

                    <div class="dropdown col-3">
                        <span>To</span>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Page
              <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="to-page" type="text" placeholder="Search..">
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <span class="col-12">
                <strong>By Time</strong>
            </span>
                    <br>
                    <div class="dropdown col-3">
                        <span>From</span>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Time
              <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="from-time" type="text" placeholder="Search..">
                            <li><a href="#">9:00</a></li>
                            <li><a href="#">10:00</a></li>
                            <li><a href="#">11:00</a></li>
                            <li><a href="#">12:00</a></li>
                            <li><a href="#">13:00</a></li>
                            <li><a href="#">14:00</a></li>
                            <li><a href="#">15:00</a></li>
                            <li><a href="#">16:00</a></li>
                            <li><a href="#">17:00</a></li>
                        </ul>
                    </div>

                    <div class="dropdown col-3">
                        <span>To</span>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Time
              <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="to-time" type="text" placeholder="Search..">
                            <li><a href="#">9:00</a></li>
                            <li><a href="#">10:00</a></li>
                            <li><a href="#">11:00</a></li>
                            <li><a href="#">12:00</a></li>
                            <li><a href="#">13:00</a></li>
                            <li><a href="#">14:00</a></li>
                            <li><a href="#">15:00</a></li>
                            <li><a href="#">16:00</a></li>
                            <li><a href="#">17:00</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <span class="col-12">
                <strong>By Type</strong>
            </span>
                    <br>
                    <div class="dropdown col-4">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type
              <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <input class="form-control" id="type" type="text" placeholder="Search..">
                            <li>
                                <a href="#">Pets</a>
                            </li>
                            <li><a href="#">Boarding Places</a></li>
                            <li><a href="#"> Training </a></li>
                            <li><a href="#">Others</a></li>
                        </ul>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>