<div class="container py-5 ">
    <div class="row g-5">
        <div class="col-lg-8">
            <div class="col-lg-4">
                <img class="img-fluid mb-4" src="../../../../assets/img/product-1.png" alt="">
                <h6 class="text-uppercase">Bussiness Name</h6>
                <h5 class="text-primary mb-0">Type</h5>
                <h5 class="text-primary mb-0">Opens at:</h5>
                <h5 class="text-primary mb-0">Closes at:</h5>
                <div class="btn-action d-flex justify-content-center">
                    <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-cart"></i></a>
                    <a class="btn btn-primary py-2 px-3" href=""><i class="bi bi-eye"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>